{% extends "base_test.html" %}
{% load i18n %}
{% block page_title %}<title>Prueba CIE</title>{% endblock %}
{% block header_title %}CIE{% endblock %}

{% block content %}
  <div class="test-main__inner" >
    <div style="text-align: center;">
      <h4>Test de Integridad - Instrucciones</h4>
      <br>
    </div>

    <form method="post">
      {% csrf_token %}

      <div class="form-buttons">
        <input type="submit" class="btn btn-primary" value="Comenzar"/>
        <input type="hidden" name="start_test" value="1"/>
      </div>
    </form>
  </div>
{% endblock %}