{% extends "base_test.html" %}
{% load i18n %}
{% block page_title %}<title>Integridad</title>{% endblock %}
{% block header_title %}Integridad{% endblock %}

{% block content %}
  <div class="test-main__inner" >
    <div style="text-align: center;">
      <p>19 de 20</p>
    </div>
    <div class="question-block">
      <div>
        <p class="q-first">109. ¿Cuál de los delitos siguientes te parece más grave? </p>
      </div>
      <div>
        <ul>
          <li>
            <label for="id_109_1">
              <input type="radio" name="q_109" value="0" required="" id="id_109_1">
              Robar del lugar de trabajo
            </label>
          </li>
          <li>
            <label for="id_109_2">
              <input type="radio" name="q_109" value="1" required="" id="id_109_2">
              Robar a una persona 
            </label>
          </li>
          <li>
            <label for="id_109_3">
              <input type="radio" name="q_109" value="1" required="" id="id_109_3">
              No hay diferencia
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="question-block">
      <div>
        <p class="q-first">110. ¿Se puede robar por una causa importante? </p>
      </div>
      <div>
        <ul>
          <li>
            <label for="id_110_1">
              <input type="radio" name="q_110" value="0" required="" id="id_110_1">
              Según qué causa
            </label>
          </li>
          <li>
            <label for="id_110_2">
              <input type="radio" name="q_110" value="1" required="" id="id_110_2">
              Según lo que se roba 
            </label>
          </li>
          <li>
            <label for="id_110_3">
              <input type="radio" name="q_110" value="1" required="" id="id_110_3">
              No, en ningún caso
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="question-block">
      <div>
        <p class="q-first">111. ¿Cuál de los siguientes delitos te parece más grave? </p>
      </div>
      <div>
        <ul>
          <li>
            <label for="id_111_1">
              <input type="radio" name="q_111" value="0" required="" id="id_111_1">
              Robar $50 de un pobre
            </label>
          </li>
          <li>
            <label for="id_111_2">
              <input type="radio" name="q_111" value="1" required="" id="id_111_2">
              Robar $1000 de un rico 
            </label>
          </li>
          <li>
            <label for="id_111_3">
              <input type="radio" name="q_111" value="1" required="" id="id_111_3">
              No hay diferencia
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="question-block">
      <div>
        <p class="q-first">112. Ana aplica en la empresa que recién la contrató un método de evaluación que aprendió en la Compañía donde trabajaba antes, la cual pedía a sus colaboradores no divulgar ese método: Lo que está haciendo Ana es:</p>
      </div>
      <div>
        <ul>
          <li>
            <label for="id_112_1">
              <input type="radio" name="q_112" value="0" required="" id="id_112_1">
              Poco ético
            </label>
          </li>
          <li>
            <label for="id_112_2">
              <input type="radio" name="q_112" value="1" required="" id="id_112_2">
              No ético
            </label>
          </li>
          <li>
            <label for="id_112_3">
              <input type="radio" name="q_112" value="1" required="" id="id_112_3">
              Válido en el ámbito empresarial
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="question-block">
      <div>
        <p class="q-first">113. El encargado de un taller solía retirar $600 por mes de la caja para completar el pago de su renta y devolver el dinero el día cinco de cada mes después de recibir su sueldo: ¿Se trata de?</p>
      </div>
      <div>
        <ul>
          <li>
            <label for="id_113_1">
              <input type="radio" name="q_113" value="0" required="" id="id_113_1">
              Robo?
            </label>
          </li>
          <li>
            <label for="id_113_2">
              <input type="radio" name="q_113" value="1" required="" id="id_113_2">
              Préstamo?
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="question-block">
      <div>
        <p class="q-first">114. Un empleado robó anteriormente en su lugar de trabajo ¿te parece probable que deje de robar si las condi- ciones de trabajo mejoran?</p>
      </div>
      <div>
        <ul>
          <li>
            <label for="id_114_1">
              <input type="radio" name="q_114" value="0" required="" id="id_114_1">
              Sí
            </label>
          </li>
          <li>
            <label for="id_114_2">
              <input type="radio" name="q_114" value="1" required="" id="id_114_2">
              No
            </label>
          </li>
        </ul>
      </div>
    </div>
    <form onsubmit="calculateIntegrityForm()" method="post">
      {% csrf_token %}
      <div class="form-buttons">
        <input type="hidden" name="integrity_object_id" value="{{integrity_object_id}}"/>

        <input id="id-adictions" type="hidden" name="adictions" value="0" />
        <input id="id-judgement" type="hidden" name="judgement" value="0" />
        <input id="id-discipline" type="hidden" name="discipline" value="0" />
        <input id="id-veracity" type="hidden" name="veracity" value="0" />
        <input id="id-loyalty" type="hidden" name="loyalty" value="0" />
        <input id="id-intentionality" type="hidden" name="intentionality" value="0" />
        <input id="id-ethic" type="hidden" name="ethic" value="0" />
        <input id="id-reliability" type="hidden" name="reliability" value="0" />

        <input type="hidden" name="step" value="19"/>
        <input type="submit" class="btn btn-primary" value="{% trans 'Enviar' %}"/>
      </div>
    </form>
  </div>
  <script>
    // Update the values in the form according to the selected answers
    function calculateIntegrityForm(){
      let adictions = 0
      let judgement = 0
      let discipline = 0
      let veracity = 0
      let loyalty = 0
      let intentionality = 0
      let ethic = 0
      let reliability = 0

      // ********* ADICTIONS
      
      document.getElementById("id-adictions").value = adictions

      // ********* JUDGEMENT
      if (document.getElementById("id_114_1").checked) judgement = judgement + 1
      if (document.getElementById("id_114_2").checked) judgement = judgement + 5

      document.getElementById("id-judgement").value = judgement

      // ********* DISCIPLINE

      document.getElementById("id-discipline").value = discipline

      // ********* VERACITY

      document.getElementById("id-veracity").value = veracity

      // ********* LOYALTY

      document.getElementById("id-loyalty").value = loyalty

      // ********* INTENTIONALITY
      if (document.getElementById("id_113_1").checked) intentionality = intentionality + 5
      // if (document.getElementById("id_7_2").checked) intentionality = intentionality + 1
      if (document.getElementById("id_109_3").checked) intentionality = intentionality + 5

      if (document.getElementById("id_110_3").checked) intentionality = intentionality + 5

      if (document.getElementById("id_112_1").checked) intentionality = intentionality + 1
      if (document.getElementById("id_112_2").checked) intentionality = intentionality + 5
      
      document.getElementById("id-intentionality").value = intentionality
      
      // ********* ETHIC
      if (document.getElementById("id_112_1").checked) ethic = ethic + 1
      if (document.getElementById("id_112_2").checked) ethic = ethic + 5

      if (document.getElementById("id_111_3").checked) ethic = ethic + 5

      document.getElementById("id-ethic").value = ethic

      // ********* RELIABILITY

      document.getElementById("id-reliability").value = reliability

    }
  </script>
{% endblock %}