{% extends "base_test.html" %}
{% load i18n %}
{% block page_title %}<title>Integridad</title>{% endblock %}
{% block header_title %}Integridad{% endblock %}

{% block content %}
  <div class="test-main__inner" >
    <div style="text-align: center;">
      <p>16 de 20</p>
    </div>
    <div class="question-block">
      <div>
        <p class="q-first">91. Vale la pena ser honrado y trabajar duro: </p>
      </div>
      <div>
        <ul>
          <li>
            <label for="id_91_1">
              <input type="radio" name="q_91" value="0" required="" id="id_91_1">
              Correcto
            </label>
          </li>
          <li>
            <label for="id_91_2">
              <input type="radio" name="q_91" value="1" required="" id="id_91_2">
              Incorrecto
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="question-block">
      <div>
        <p class="q-first">92. ¿Algunas veces ocultas errores que cometes en el trabajo a fin de evitar conflictos? </p>
      </div>
      <div>
        <ul>
          <li>
            <label for="id_92_1">
              <input type="radio" name="q_92" value="0" required="" id="id_92_1">
              Sí, muchas veces
            </label>
          </li>
          <li>
            <label for="id_92_2">
              <input type="radio" name="q_92" value="1" required="" id="id_92_2">
              Sí, algunas veces 
            </label>
          </li>
          <li>
            <label for="id_92_3">
              <input type="radio" name="q_92" value="1" required="" id="id_92_3">
              Sólo una ocasión
            </label>
          </li>
          <li>
            <label for="id_92_4">
              <input type="radio" name="q_92" value="1" required="" id="id_92_4">
              No
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="question-block">
      <div>
        <p class="q-first">93. Un empleado robó para alimentar a su familia ¿Te parece que se merece un castigo? </p>
      </div>
      <div>
        <ul>
          <li>
            <label for="id_93_1">
              <input type="radio" name="q_93" value="0" required="" id="id_93_1">
              Sí
            </label>
          </li>
          <li>
            <label for="id_93_2">
              <input type="radio" name="q_93" value="1" required="" id="id_93_2">
              No
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="question-block">
      <div>
        <p class="q-first">94. Fumar mariguana es igual que fumar un cigarro: </p>
      </div>
      <div>
        <ul>
          <li>
            <label for="id_94_1">
              <input type="radio" name="q_94" value="0" required="" id="id_94_1">
              Correcto
            </label>
          </li>
          <li>
            <label for="id_94_2">
              <input type="radio" name="q_94" value="1" required="" id="id_94_2">
              Incorrecto
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="question-block">
      <div>
        <p class="q-first">95. ¿Cuál de las siguientes acciones te parece más grave? </p>
      </div>
      <div>
        <ul>
          <li>
            <label for="id_95_1">
              <input type="radio" name="q_95" value="0" required="" id="id_95_1">
              Sobornar
            </label>
          </li>
          <li>
            <label for="id_95_2">
              <input type="radio" name="q_95" value="1" required="" id="id_95_2">
              Aceptar soborno 
            </label>
          </li>
          <li>
            <label for="id_95_3">
              <input type="radio" name="q_95" value="1" required="" id="id_95_3">
              No hay diferencia
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="question-block">
      <div>
        <p class="q-first">96. ¿Hay algo en tu trabajo que te gusta tanto que podrías llevártelo? </p>
      </div>
      <div>
        <ul>
          <li>
            <label for="id_96_1">
              <input type="radio" name="q_96" value="0" required="" id="id_96_1">
              Correcto
            </label>
          </li>
          <li>
            <label for="id_96_2">
              <input type="radio" name="q_96" value="1" required="" id="id_96_2">
              Incorrecto
            </label>
          </li>
        </ul>
      </div>
    </div>
    <form id="form-id" onsubmit="calculateIntegrityForm()" method="post">
      {% csrf_token %}
      <div class="form-buttons">
        <input type="hidden" name="integrity_object_id" value="{{integrity_object_id}}"/>

        <input id="id-adictions" type="hidden" name="adictions" value="0" />
        <input id="id-judgement" type="hidden" name="judgement" value="0" />
        <input id="id-discipline" type="hidden" name="discipline" value="0" />
        <input id="id-veracity" type="hidden" name="veracity" value="0" />
        <input id="id-loyalty" type="hidden" name="loyalty" value="0" />
        <input id="id-intentionality" type="hidden" name="intentionality" value="0" />
        <input id="id-ethic" type="hidden" name="ethic" value="0" />
        <input id="id-reliability" type="hidden" name="reliability" value="0" />

        <input type="hidden" name="step" value="16"/>
        <input type="submit" class="btn btn-primary" value="{% trans 'Enviar' %}"/>
      </div>
    </form>
  </div>
  <script>
    // Update the values in the form according to the selected answers
    function calculateIntegrityForm(){
      let adictions = 0
      let judgement = 0
      let discipline = 0
      let veracity = 0
      let loyalty = 0
      let intentionality = 0
      let ethic = 0
      let reliability = 0

      // ********* ADICTIONS
      if (document.getElementById("id_94_2").checked) adictions = adictions + 5
      
      document.getElementById("id-adictions").value = adictions

      // ********* JUDGEMENT

      document.getElementById("id-judgement").value = judgement

      // ********* DISCIPLINE
      if (document.getElementById("id_93_1").checked) discipline = discipline + 5

      document.getElementById("id-discipline").value = discipline

      // ********* VERACITY
      if (document.getElementById("id_92_1").checked) veracity = veracity + 5
      if (document.getElementById("id_92_2").checked) veracity = veracity + 3
      if (document.getElementById("id_92_3").checked) veracity = veracity + 1

      document.getElementById("id-veracity").value = veracity

      // ********* LOYALTY

      document.getElementById("id-loyalty").value = loyalty

      // ********* INTENTIONALITY
      if (document.getElementById("id_91_1").checked) intentionality = intentionality + 5

      if (document.getElementById("id_93_1").checked) intentionality = intentionality + 5

      if (document.getElementById("id_95_1").checked) intentionality = intentionality + 3
      if (document.getElementById("id_95_2").checked) intentionality = intentionality + 4
      if (document.getElementById("id_95_3").checked) intentionality = intentionality + 5

      if (document.getElementById("id_96_2").checked) intentionality = intentionality + 5
      
      document.getElementById("id-intentionality").value = intentionality
      
      // ********* ETHIC

      document.getElementById("id-ethic").value = ethic

      // ********* RELIABILITY

      document.getElementById("id-reliability").value = reliability

    }


    // TIMER
    let miliseconds_integrity = parseInt('{{seconds_integrity}}', 10) * 1000
    window.setTimeout(function () {
      document.getElementById('form-id').submit();
    }, miliseconds_integrity);
    
  </script>
{% endblock %}