{% extends "common/base.html" %}

{% block content_title %}
    <title>DPE - Detalle Empresa</title>
{% endblock%}

{% block content_subtitle %}
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fas fa-building icon-gradient bg-night-fade">
                    </i>
                </div>
                <div>
                    {% if company_main %} {{ company_main.company_name }} - {% endif %}{{ company.company_name }}
                    <div class="page-title-subheading">
                        Administracion de Pruebas Psicometricas.
                    </div>
                </div>
            </div>   
        </div>
    </div> 
{% endblock%}

{% block content_container %}
<div class="row">


    <div class="col-md-12 col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-header-tab card-header">
                <div class="btn-actions-pane-left">
                    <div class="nav">
                        <a id="tests" href="javascript:void(0);" class="border-0 btn-pill btn-wide btn-transition active btn btn-outline-alternate" onclick="toogleForm(this.id)">Pruebas</a>
                        <a id="codes" href="javascript:void(0);" class="border-0 btn-pill btn-wide btn-transition btn btn-outline-alternate" onclick="toogleForm(this.id)">Codigos de Pruebas</a>
                        {% if user.type == "ADMIN_DPE" %}
                            <a id="company" href="javascript:void(0);" class="border-0 btn-pill btn-wide btn-transition btn btn-outline-alternate" onclick="toogleForm(this.id)">Modificar Empresa</a>
                            <a id="search" href="javascript:void(0);" class="border-0 btn-pill btn-wide btn-transition btn btn-outline-alternate" onclick="toogleForm(this.id)">Modificar Usarios</a>
                            <a id="create" href="javascript:void(0);" class="border-0 btn-pill btn-wide btn-transition btn btn-outline-alternate" onclick="toogleForm(this.id)">Crear Usuarios</a>
                        {% elif  user.type == "CLIENT_MAIN" %}
                            <a id="search" href="javascript:void(0);" class="border-0 btn-pill btn-wide btn-transition btn btn-outline-alternate" onclick="toogleForm(this.id)">Modificar Usarios</a>
                            <a id="create" href="javascript:void(0);" class="border-0 btn-pill btn-wide btn-transition btn btn-outline-alternate" onclick="toogleForm(this.id)">Crear Usuarios</a>
                        {% endif %}
                            <a id="results" href="javascript:void(0);" class="border-0 btn-pill btn-wide btn-transition btn btn-outline-alternate" onclick="toogleForm(this.id)">Resultados</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                {% comment %} ASSIGNED TESTS {% endcomment %}
                    {% if user.type == "ADMIN_DPE" %} 
                        <div id="tests-form-id" class="card-section">
                            <h5 class="card-title">Asignar Prueba:</h5>
                            <form method="POST"  class="">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-md-4">
                                        <select name="test" id="test-id" class="form-control" required>
                                            <option value="">--</option>
                                            {% for test in available_tests %}
                                                <option value={{test.id}}>{{test.test_name}}</option>
                                            {% endfor %}
                                        </select>   
                                    </div>
                                    <input type="hidden" name="assign_test" value="1">
                                    <button type="submit" class="btn btn-primary">  Asignar  </button>
                                </div>
                            </form>
                            <br />
                            <h5 class="card-title">Pruebas Asignadas:</h5>
                            <table class="mb-0 table">
                                <thead>
                                <tr>
                                    <th>Tipo de prueba</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for assigned_test in assigned_tests %}
                                    <tr>
                                        <td>
                                            {{assigned_test.test.test_name}}
                                        </td>
                                        <td>
                                            <form method="POST"  class="">
                                                {% csrf_token %} 
                                                    <input type="hidden" name="delete_test" value="1">
                                                    <input type="hidden" name="companytest_id" value={{assigned_test.id}}>
                                                    <input type="hidden" name="test_id" value={{assigned_test.test.id}}>
                                                    <button type="submit" class="btn btn-danger">  Borrar  </button>
                                            </form>
                                        </td>
                                    </tr>    
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% elif user.type == "CLIENT_MAIN" %}
                        <div id="tests-form-id" class="card-section">
                            <h5 class="card-title">Pruebas Asignadas:</h5>
                            <table class="mb-0 table">
                                <thead>
                                <tr>
                                    <th>Tipo de prueba</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for assigned_test in assigned_tests %}
                                    <tr>
                                        <td>
                                            {{assigned_test.test.test_name}}
                                        </td>
                                    </tr>    
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% elif user.type == "CLIENT" %}
                        <div id="tests-form-id" class="card-section">
                            <h5 class="card-title">Pruebas Asignadas:</h5>
                            <table class="mb-0 table">
                                <thead>
                                <tr>
                                    <th>Tipo de prueba</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for assigned_test in assigned_tests %}
                                    <tr>
                                        <td>
                                            {{assigned_test.test.test_name}}
                                        </td>
                                    </tr>    
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                {% comment %} CODES {% endcomment %}
                    {% if user.type == "ADMIN_DPE" %} 
                        <div id="codes-id" class="card-section d-none">
                            <h5 class="card-title">Crear nuevo codigo:</h5>
                            <form method="POST"  class="">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-md-4">
                                        <label for="test-id" class="">Prueba</label>
                                        <select name="test_id" id="test-id" class="form-control" onchange="showMinutes(this)" required>
                                            <option value="">--</option>
                                                {% for test in assigned_tests %}
                                                    <option value={{test.test.id}}>{{test.test.test_name}}</option>                                                                                
                                                {% endfor %}                                                                             
                                        </select>   
                                    </div>
                                    {% comment %} <div class="col-md-4">
                                        <label for="company-id" class="">Compania</label>
                                        <select name="company" id="company-id" class="form-control" required>
                                            <option value="">--</option>
                                            {% for company in companies %}
                                                <option value={{company.id}}>{{company.company_name}}</option>                                                                                
                                            {% endfor %}
                                        </select>   
                                    </div> {% endcomment %}
                                    <div class="col-md-3">
                                        <div class="position-relative form-group">
                                            <label for="expiration-id" class="">Fecha de Expiracion</label>
                                            <input name="expiration" id="expiration-id" type="date" class="form-control" value="" required>
                                        </div>
                                    </div>
                                    <div id="minutes_div" class="col-md-3 d-none" >
                                        <div class="position-relative form-group">
                                            <label for="seconds-id" class="">Minutos disponibles por hoja</label>
                                            <select name="seconds_integrity" id="seconds-id" class="form-control" required>
                                                <option value="">--</option>
                                                    <option value=60>1</option>                                                                                
                                                    <option value=90>1:30</option>                                                                                
                                                    <option value=140>2:20</option>                                                                                
                                            </select>   
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-3">
                                        <div class="position-relative form-group">
                                            <button class="mt-2 btn btn-primary">Crear Nuevo Codigo</button>
                                        </div>
                                    </div>
                                </div>

                                <input type="hidden" name="company_id" value={{company.id}}>
                                <input type="hidden" name="create_code" value=1>
                                
                            </form>
                            <br/>
                            <h5 class="card-title">Codigos para esta compania:</h5>
                            <table class="mb-0 table">
                                <thead>
                                <tr>
                                    <th>Prueba</th>
                                    <th>Codigo de acceso</th>
                                    <th>Creador</th>
                                    <th>Expiracion</th>
                                    <th>Tiempo</th>
                                    <th>Estatus</th>
                                    <th>Activacion</th>
                                    <th>Borrar</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for code in company_codes %}
                                    <tr>
                                        <td>{{ code.test.test_name }}</td>
                                        <td>{{ code.code }}</td>
                                        <td>{{ code.user.username }}</td>
                                        <td>{{ code.get_formated_exp }}</td>
                                        <td>{{ code.get_minutes }}</td>
                                        <td>
                                            {% if code.activate == True%}
                                                <div class="badge badge-success">Activa</div>
                                            {% else %}
                                                <div class="badge badge-danger">Inactiva</div>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <form method="POST"  class="">
                                                {% csrf_token %} 
                                                    {% if code.activate == True %}
                                                        <button type="submit" class="btn btn-danger">  Desactivar  </button>
                                                        <input type="hidden" name="deactivate_code" value="1">
                                                    {% else %}
                                                        <button type="submit" class="btn btn-success">  Activar  </button>
                                                        <input type="hidden" name="activate_code" value="1">
                                                    {% endif %}
                                                <input type="hidden" name="modify_code" value="1">
                                                <input type="hidden" name="code_id" value={{code.id}}>
                                            </form>
                                        </td>
                                        <td>
                                            <form method="POST"  class="">
                                                {% csrf_token %} 
                                                    <button type="submit" class="btn btn-danger">  Borrar  </button>
                                                    <input type="hidden" name="delete_code" value="1">
                                                    <input type="hidden" name="code_id" value={{code.id}}>
                                            </form>
                                        </td>
                                    </tr>    
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>    
                    {% elif user.type == "CLIENT_MAIN" %}
                        <div id="codes-id" class="card-section d-none">                    
                            <h5 class="card-title">Crear nuevo codigo:</h5>
                            <form method="POST"  class="">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-md-4">
                                        <label for="test-id" class="">Prueba</label>
                                        <select name="test_id" id="test-id" class="form-control" required>
                                            <option value="">--</option>
                                                {% for test in assigned_tests %}
                                                    <option value={{test.test.id}}>{{test.test.test_name}}</option>                                                                                
                                                {% endfor %}                                                                             
                                        </select>   
                                    </div>
                                    {% comment %} <div class="col-md-4">
                                        <label for="company-id" class="">Compañia</label>
                                        <select name="company" id="company-id" class="form-control" required>
                                            <option value="">--</option>
                                            {% for company in companies %}
                                                <option value={{company.id}}>{{company.company_name}}</option>                                                                                
                                            {% endfor %}
                                        </select>   
                                    </div> {% endcomment %}
                                    <div class="col-md-3">
                                        <div class="position-relative form-group">
                                            <label for="expiration-id" class="">Fecha de Expiración</label>
                                            <input name="expiration" id="expiration-id" type="date" class="form-control" value="" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-3">
                                        <div class="position-relative form-group">
                                            <button class="mt-2 btn btn-primary">Crear Nuevo Código</button>
                                        </div>
                                    </div>
                                </div>

                                <input type="hidden" name="company_id" value={{company.id}}>
                                <input type="hidden" name="create_code" value=1>
                                
                            </form>
                            <h5 class="card-title">Codigos para esta compañia:</h5>
                            <table class="mb-0 table">
                                <thead>
                                <tr>
                                    <th>Prueba</th>
                                    <th>Codigo de acceso</th>
                                    <th>Creador</th>
                                    <th>Expiracion</th>
                                    <th>Estatus</th>
                                    <th>Activación</th>
                                    <th>Borrar</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for code in company_codes %}
                                        <tr>
                                            <td>{{ code.test.test_name }}</td>
                                            <td>{{ code.code }}</td>
                                            <td>{{ code.user.username }}</td>
                                            <td>{{ code.get_formated_exp }}</td>
                                            <td>
                                                {% if code.activate == True%}
                                                    <div class="badge badge-success">Activa</div>
                                                {% else %}
                                                    <div class="badge badge-danger">Inactiva</div>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <form method="POST"  class="">
                                                    {% csrf_token %} 
                                                        {% if code.activate == True %}
                                                            <button type="submit" class="btn btn-danger">  Desactivar  </button>
                                                            <input type="hidden" name="deactivate_code" value="1">
                                                        {% else %}
                                                            <button type="submit" class="btn btn-success">  Activar  </button>
                                                            <input type="hidden" name="activate_code" value="1">
                                                        {% endif %}
                                                    <input type="hidden" name="modify_code" value="1">
                                                    <input type="hidden" name="code_id" value={{code.id}}>
                                                </form>
                                            </td>
                                            <td>
                                                <form method="POST"  class="">
                                                    {% csrf_token %} 
                                                        <button type="submit" class="btn btn-danger">  Borrar  </button>
                                                        <input type="hidden" name="delete_code" value="1">
                                                        <input type="hidden" name="code_id" value={{code.id}}>
                                                </form>
                                            </td>
                                        </tr>    
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% elif user.type == "CLIENT" %}
                        <div id="codes-id" class="card-section d-none">
                            <h5 class="card-title">Codigos para esta compania:</h5>
                            <table class="mb-0 table">
                                <thead>
                                <tr>
                                    <th>Prueba</th>
                                    <th>Codigo de acceso</th>
                                    <th>Creador</th>
                                    <th>Expiracion</th>
                                    <th>Estatus</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for code in company_codes %}
                                    <tr>
                                        <td>{{ code.test.test_name }}</td>
                                        <td>{{ code.code }}</td>
                                        <td>{{ code.user.username }}</td>
                                        <td>{{ code.get_formated_exp }}</td>
                                        <td>
                                            {% if code.activate == True%}
                                                <div class="badge badge-success">Activa</div>
                                            {% else %}
                                                <div class="badge badge-danger">Inactiva</div>
                                            {% endif %}
                                        </td>
                                    </tr>    
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                {% comment %} MODIFY COMPANY {% endcomment %}
                <div id="company-data-id" class="card-section d-none">
                    <h5 class="card-title">Datos generales:</h5>
                    <form method="POST"  >
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <label for="name-id" class="">Empresa</label><input name="company_name" id="name-id" type="text" class="form-control" value="{{company.company_name}}">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3">
                                <div class="position-relative form-group">
                                    <label for="contact-id" class="">Nombre de contacto</label><input name="company_contact" id="contact-id" type="text" class="form-control" value="{{ company.company_contact }}">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label for="email-id" class="">Email</label><input name="company_email" id="email-id" placeholder="" type="email" class="form-control" value="{{company.company_email}}">
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="company_id" value={{company.company_id}}>
                        <input type="hidden" name="update" value=1>
                        <button class="mt-2 btn btn-primary">Actualizar</button>
                    </form>
                </div>
                {% comment %} LIST USERS {% endcomment %}
                <div id="search-users-form-id" class="card-section d-none">
                    <table class="mb-0 table">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for company_user in company_users %}
                            <tr>
                                <td>{{ company_user.first_name }}</td>
                                <td>
                                    <form method="POST" action="{% url 'company:user_detail' company.id %}">
                                        {% csrf_token %} 
                                            <button type="submit" class="btn btn-primary btn-sm">  Ir  </button>
                                            <input type="hidden" name="company" value={{company.id}}>
                                            <input type="hidden" name="company_user_id" value={{company_user.id}}>
                                    </form>
                                </td>
                            </tr>    
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% comment %} CREATE USERS {% endcomment %}
                <div id="create-form-id" class="card-section d-none">
                    <form method="POST"  class="">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-md-3">
                                <div class="position-relative form-group">
                                    <label for="username-id" class="">Nombre de usuario</label>
                                    <input name="username" id="username-id" type="text" class="form-control" required placeholder="sin espacios">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="position-relative form-group">
                                    <label for="username-id" class="">Password</label>
                                    <input name="password1" id="password-id" type="password" class="form-control" required value="">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="position-relative form-group">
                                    <label for="username-id" class="">Confirmar Password</label>
                                    <input name="password2" id="password-id" type="password" class="form-control" required value="">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3">
                                    <div class="position-relative form-group">
                                        <label for="name-id" class="">Nombre</label>
                                        <input name="first_name" id="name-id" type="text" class="form-control" required value="">
                                    </div>
                            </div>
                            <div class="col-md-3">
                                    <div class="position-relative form-group">
                                        <label for="last-name-id" class="">Paterno</label>
                                        <input name="last_name" id="last-name-id" type="text" class="form-control" required value="">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="position-relative form-group">
                                        <label for="second-last-name-id" class="">Materno</label>
                                        <input name="second_last_name" id="second-last-name-id" type="text" class="form-control" required value="">
                                    </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3">
                                <div class="position-relative form-group">
                                    <label for="email-id" class="">Email</label>
                                    <input name="email" id="email-id" type="email" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="company" value={{company.id}}>
                        <input type="hidden" name="type" value="{% if company.company_main %}CLIENT{% else %}CLIENT_MAIN{% endif %}">
                        <input type="hidden" name="company_main" value="{% if company.company_main %}{{company.company_main.id}}{% else %}{% endif %}">
                        <input type="hidden" name="create_user" value=1>
                        <button class="mt-2 btn btn-primary">Crear Usuario</button>
                    </form>
                </div>
                {% comment %} SEARCH RESULTS {% endcomment %}
                <div id="results-form-id" class="card-section d-none">
                    <h5 class="card-title">Buscar por Tipo de Prueba:</h5>
                    <form method="POST" action="{% url 'company:test_results_list' company.company_name %}"   class="">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-md-4">
                                <select name="test" id="test-id" class="form-control" required>
                                    <option value="">--</option>
                                    {% for test in assigned_tests %}
                                        <option value={{test.test.test_name}}>{{test.test.test_name}}</option>
                                    {% endfor %}
                                </select>   
                            </div>
                            <input type="hidden" name="company" value={{company.id}}>
                            <input type="hidden" name="select_test" value=1>
                            <button type="submit" class="btn btn-primary">Seleccionar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    let cards = '';
    let buttons = '';

    document.addEventListener("DOMContentLoaded", function(e) {
        cards = document.querySelectorAll('.card-section');
        buttons = document.querySelectorAll('.btn-pill');
        // Open the tab you were in
        let tab = '{{tab}}';
        if ( tab ){
            toogleForm(tab);
        }

    });
    function toogleForm(tab_id){
        cards.forEach((card) => {
            let card_id = card.id;
            if (card_id.includes(tab_id) && card.classList.contains('d-none')){
                card.classList.remove('d-none');
                selected_card = card
            }else if (!card_id.includes(tab_id) && !card.classList.contains('d-none')){
                card.classList.add('d-none');
            }
        });

        buttons.forEach((btn) => {
            btn.classList.remove('active');
        });

        let tab_button = document.getElementById(tab_id);

        if(!tab_button.classList.contains('active')){
            tab_button.classList.add('active');
        }
    }

    function showMinutes(input){
        minutes_input = document.getElementById('minutes_div');
        console.log(input.options[input.options.selectedIndex].text)
        if (input.options[input.options.selectedIndex].text == 'Integridad') {
            minutes_input.classList.remove('d-none');
        }else{
            minutes_input.classList.add('d-none');
        }
    }

    // Alerts for actions
    let saved_code = '{{saved_code}}'
    if ( saved_code ){
        showSwal('success', 'Nuevo Código Generado', '{{ saved_code.code }}', '');
    }
    

</script>
{% endblock%}
