{% extends "common/base.html" %}

{% block content_title %}
    <title>DPE - Detalle Empresa</title>
{% endblock%}

{% block content_subtitle %}
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fas fa-building icon-gradient bg-night-fade">
                    </i>
                </div>
                <div>
                    {{ company_name }}
                    <div class="page-title-subheading">
                        Administracion de Pruebas Psicometricas.
                    </div>
                </div>
            </div>   
        </div>
    </div> 
{% endblock%}

{% block content_container %}
<div class="row">


    <div class="col-md-12 col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-body">

                {% comment %} MODIFY COMPANY USER {% endcomment %}
                <div id="create-form-id" class="card-section">
                    <form method="POST" action="{% url 'company:user_detail' company_name %}" class="">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-md-3">
                                <div class="position-relative form-group">
                                    <label for="username-id" class="">Nombre de usuario</label>
                                    <input name="username" id="username-id" type="text" class="form-control" value="{{user.username}}">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3">
                                    <div class="position-relative form-group">
                                        <label for="name-id" class="">Nombre</label>
                                        <input name="first_name" id="name-id" type="text" class="form-control" value="{{user.first_name}}">
                                    </div>
                            </div>
                            <div class="col-md-3">
                                    <div class="position-relative form-group">
                                        <label for="last-name-id" class="">Paterno</label>
                                        <input name="last_name" id="last-name-id" type="text" class="form-control" value="{{user.last_name}}">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="position-relative form-group">
                                        <label for="second-last-name-id" class="">Materno</label>
                                        <input name="second_last_name" id="second-last-name-id" type="text" class="form-control" value="{{user.second_last_name}}">
                                    </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3">
                                <div class="position-relative form-group">
                                    <label for="email-id" class="">Email</label>
                                    <input name="email" id="email-id" type="email" class="form-control" value="{{user.email}}">
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="user_id" value={{user.id}}>
                        <input type="hidden" name="update_user" value=1>
                        <button class="mt-2 btn btn-primary">Actualizar Usuario</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>


</script>
{% endblock%}
