{% extends "common/base.html" %}

{% block content_title %}
    <title>DPE - Usuarios</title>
{% endblock%}


{% block content_subtitle %}
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fas fa-user-cog icon-gradient bg-night-fade">
                    </i>
                </div>
                <div>
                    Administracion de usuarios
                    <div class="page-title-subheading">
                        Crear, modificar o eliminar usuarios.
                    </div>
                </div>
            </div>   
        </div>
    </div> 
{% endblock%}

{% block content_container %}
<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-header-tab card-header">
                <div class="btn-actions-pane-left">
                    <div class="nav">
                        <a id="edit" href="javascript:void(0);" class="ml-1 btn-pill btn-wide border-0 btn-transition active  btn btn-outline-alternate second-tab-toggle-alt" onclick="toogleForm(this)">Modificar</a>
                        <a id="create" href="javascript:void(0);" class="ml-1 btn-pill btn-wide border-0 btn-transition  btn btn-outline-alternate second-tab-toggle-alt" onclick="toogleForm(this)">Crear</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="edit-form-id" class="form-container">
                    <form method="POST"  class="">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-md-3">
                                    <div class="position-relative form-group">
                                        <label for="username-id" class="">Nombre de usuario</label><input name="username" id="username-id" type="text" class="form-control" value="{{username}}">
                                    </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3">
                                    <div class="position-relative form-group">
                                        <label for="name-id" class="">Nombre</label><input name="first_name" id="name-id" type="text" class="form-control" value="{{first_name}}">
                                    </div>
                            </div>
                            <div class="col-md-3">
                                    <div class="position-relative form-group">
                                        <label for="last-name-id" class="">Paterno</label><input name="last_name" id="last-name-id" type="text" class="form-control" value="{{last_name}}">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="position-relative form-group">
                                        <label for="second-last-name-id" class="">Materno</label><input name="second_last_name" id="second-last-name-id" type="text" class="form-control" value="{{second_last_name}}">
                                    </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <label for="exampleCity" class="">Tipo de Usuario</label>
                                    <select name="user_type" id="" class="form-control">
    
                                        <option value="">--</option>
                                        {% for type in user_types %}
                                            <option value="{{type}}" {% if user_type == type %} selected {% endif %} >{{type}}</option>                                                                                
                                        {% endfor %}
                                    </select>   
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <label for="company-id" class="">Compania</label>
                                    <select name="company" id="company-id" class="form-control">
                                        <option value="">--</option>
                                        {% for company in companies %}
                                            <option value={{company.id}} {% if company.id == user_company %} selected {% endif %} >{{company.name}}</option>                                                                                
                                        {% endfor %}
                                    </select>   
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label for="email-id" class="">Email</label><input name="email" id="email-id" placeholder="with a placeholder" type="email" class="form-control" value="{{email}}">
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="update_user" value="True">
                        <button class="mt-2 btn btn-primary">Actualizar</button>
                    </form>
                </div>
                
                {% comment %} CREATE USER {% endcomment %}
                <div id="create-form-id" class="form-container d-none">
                    <form method="POST"  class="">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-md-3">
                                <div class="position-relative form-group">
                                    <label for="username-id" class="">Nombre de usuario</label><input name="username" id="username-id" type="text" class="form-control" value="">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="position-relative form-group">
                                    <label for="username-id" class="">Password</label><input name="password1" id="password-id" type="password" class="form-control" value="">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="position-relative form-group">
                                    <label for="username-id" class="">Confirmar Password</label><input name="password2" id="password-id" type="password" class="form-control" value="">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3">
                                    <div class="position-relative form-group">
                                        <label for="name-id" class="">Nombre</label><input name="first_name" id="name-id" type="text" class="form-control" value="">
                                    </div>
                            </div>
                            <div class="col-md-3">
                                    <div class="position-relative form-group">
                                        <label for="last-name-id" class="">Paterno</label><input name="last_name" id="last-name-id" type="text" class="form-control" value="">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="position-relative form-group">
                                        <label for="second-last-name-id" class="">Materno</label><input name="second_last_name" id="second-last-name-id" type="text" class="form-control" value="">
                                    </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4">
                                <div class="position-relative form-group"><label for="exampleCity" class="">Tipo de Usuario</label>
                                    <select name="type" id="" class="form-control">
                                        <option value="">--</option>
                                        {% for type in user_types %}
                                            <option value="{{type}}">{{type}}</option>                                                                                
                                        {% endfor %}
                                    </select>   
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <label for="company-id" class="">Compania</label>
                                    <select name="company" id="company-id" class="form-control">
                                        <option value="">--</option>
                                        {% for company in companies %}
                                            <option value={{company.id}}>{{company.name}}</option>                                                                                
                                        {% endfor %}
                                    </select>   
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label for="email-id" class="">Email</label><input name="email" id="email-id" placeholder="with a placeholder" type="email" class="form-control" value="{{email}}">
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="create_user" value="True">
                        <button class="mt-2 btn btn-primary">Actualizar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let forms = '';
    let buttons = '';
    document.addEventListener("DOMContentLoaded", function(e) {
        forms = document.querySelectorAll('.form-container');
        buttons = document.querySelectorAll('.btn-pill');
    });
    
    function toogleForm(btn){
        forms.forEach((form) => {
            let form_id = form.id;
            if (form_id.includes(btn.id) && form.classList.contains('d-none')){
                form.classList.remove('d-none');
            }else if (!form_id.includes(btn.id) && !form.classList.contains('d-none')){
                form.classList.add('d-none');
            }

            if(!btn.classList.contains('active')){
                btn.classList.add('active');
            }else{
                btn.classList.remove('active');
            }
        });

        buttons.forEach((btn) => {

            if(!btn.classList.contains('active')){
                btn.classList.add('active');
            }else{
                btn.classList.remove('active');
            }
        });
    }
</script>

{% endblock%}