{% extends "base_test.html" %}
{% load i18n %}
{% block page_title %}<title>Max</title>{% endblock %}
{% block header_title %}Integridad{% endblock %}

{% block content %}
  <div class="test-main__inner" >
    <div style="text-align: center;">
      <p>3 de 10</p>
    </div>
    <div class="question-block">
      <div>
      </div>
      <div>
        <ul>
          <li>
            <label for="id_1_a">
              <input class="option" type="radio" data-score="G" name="1" value="1" required="" id="id_1_a">
              Siempre hago mi mayor esfuerzo.
            </label>
          </li>
          <li>
            <label for="id_1_b">
              <input class="option" type="radio" data-score="D" name="1" value="1" required="" id="id_1_b">
              Prefiero ir paso a paso con gran cuidado.
            </label>
          </li>
        </ul>
        <hr>
        <ul>
          <li>
            <label for="id_2_a">
              <input class="option" type="radio" data-score="L" name="2" value="1" required="" id="id_2_a">
              Me considero un buen "dirigente".
            </label>
          </li>
          <li>
            <label for="id_2_b">
              <input class="option" type="radio" data-score="C" name="2" value="1" required="" id="id_2_b">
              Considero que puedo organizar muy bien las actividades en un puesto de trabajo.
            </label>
          </li>
        </ul>
        <hr>
        <ul>
          <li>
            <label for="id_3_a">
              <input class="option" type="radio" data-score="I" name="3" value="1" required="" id="id_3_a">
              Tiendo a enfadarme con facilidad.
            </label>
          </li>
          <li>
            <label for="id_3_b">
              <input class="option" type="radio" data-score="Z" name="3" value="1" required="" id="id_3_b">
              Puedo demorar mucho tiempo en tomar una decisión.
            </label>
          </li>
        </ul>
        <hr>
        <ul>
          <li>
            <label for="id_4_a">
              <input class="option" type="radio" data-score="X" name="4" value="1" required="" id="id_4_a">
              Soy bueno trabajando en varias cosas al mismo tiempo.
            </label>
          </li>
          <li>
            <label for="id_4_b">
              <input class="option" type="radio" data-score="N" name="4" value="1" required="" id="id_4_b">
              Cuando me encuentro en un grupo prefiero estar callado.
            </label>
          </li>
        </ul>
        <hr>
        <ul>
          <li>
            <label for="id_5_a">
              <input class="option" type="radio" data-score="B" name="5" value="1" required="" id="id_5_a">
              Me encanta que me inviten.
            </label>
          </li>
          <li>
            <label for="id_5_b">
              <input class="option" type="radio" data-score="A" name="5" value="1" required="" id="id_5_b">
              Siempre trato de hacer las cosas mejor que los demás.
            </label>
          </li>
        </ul>
        <hr>
        <ul>
          <li>
            <label for="id_6_a">
              <input class="option" type="radio" data-score="O" name="6" value="1" required="" id="id_6_a">
              Me gusta hacer amigos íntimos.
            </label>
          </li>
          <li>
            <label for="id_6_b">
              <input class="option" type="radio" data-score="P" name="6" value="1" required="" id="id_6_b">
              Me siento bien dando consejos a los demás.
            </label>
          </li>
        </ul>
        <hr>
        <ul>
          <li>
            <label for="id_7_a">
              <input class="option" type="radio" data-score="E" name="7" value="1" required="" id="id_7_a">
              Trato de hacer cosas nuevas y diferentes.
            </label>
          </li>
          <li>
            <label for="id_7_b">
              <input class="option" type="radio" data-score="X" name="7" value="1" required="" id="id_7_b">
              Me gusta enterar a los demás de mis éxitos.
            </label>
          </li>
        </ul>
        <hr>
        <ul>
          <li>
            <label for="id_8_a">
              <input class="option" type="radio" data-score="K" name="8" value="1" required="" id="id_8_a">
              Cuando creo tener la razón lucho por ella.
            </label>
          </li>
          <li>
            <label for="id_8_b">
              <input class="option" type="radio" data-score="B" name="8" value="1" required="" id="id_8_b">
              Me siento bien perteneciendo a un grupo.
            </label>
          </li>
        </ul>
        <hr>
        <ul>
          <li>
            <label for="id_9_a">
              <input class="option" type="radio" data-score="F" name="9" value="1" required="" id="id_9_a">
              Trato de no ser distinto a los demás.
            </label>
          </li>
          <li>
            <label for="id_9_b">
              <input class="option" type="radio" data-score="O" name="9" value="1" required="" id="id_9_b">
              Me gusta ser muy cercano a las demás personas.
            </label>
          </li>
        </ul>
        <hr>
        <ul>
          <li>
            <label for="id_10_a">
              <input class="option" type="radio" data-score="W" name="10" value="1" required="" id="id_10_a">
              Prefiero que me digan exactamente cómo hacer las cosas.
            </label>
          </li>
          <li>
            <label for="id_10_b">
              <input class="option" type="radio" data-score="E" name="10" value="1" required="" id="id_10_b">
              Me aburro fácilmente.
            </label>
          </li>
        </ul>
        <hr>
      </div>
    </div>
    
    <form id="form-id" onsubmit="calculateMaxForm()" method="post">
      {% csrf_token %}
      <div class="form-buttons">
        <input type="hidden" name="max_object_id" value="{{max_object_id}}"/>

        <input id="id-T" type="hidden" name="T" value="0" />
        <input id="id-V" type="hidden" name="V" value="0" />
        <input id="id-X" type="hidden" name="X" value="0" />
        <input id="id-S" type="hidden" name="S" value="0" />
        <input id="id-B" type="hidden" name="B" value="0" />
        <input id="id-O" type="hidden" name="O" value="0" />
        <input id="id-R" type="hidden" name="R" value="0" />
        <input id="id-D" type="hidden" name="D" value="0" />
        <input id="id-C" type="hidden" name="C" value="0" />
        <input id="id-Z" type="hidden" name="Z" value="0" />
        <input id="id-E" type="hidden" name="E" value="0" />
        <input id="id-K" type="hidden" name="K" value="0" />
        <input id="id-F" type="hidden" name="F" value="0" />
        <input id="id-W" type="hidden" name="W" value="0" />
        <input id="id-N" type="hidden" name="N" value="0" />
        <input id="id-G" type="hidden" name="G" value="0" />
        <input id="id-A" type="hidden" name="A" value="0" />
        <input id="id-L" type="hidden" name="L" value="0" />
        <input id="id-P" type="hidden" name="P" value="0" />
        <input id="id-I" type="hidden" name="I" value="0" />

        <input type="hidden" name="step" value="3"/>
        <input type="submit" class="btn btn-primary" value="{% trans 'Enviar' %}"/>
      </div>
    </form>
  </div>
  <script>
    // Update the values in the form according to the selected answers
    function calculateMaxForm(){
      let T = 0
      let V = 0
      let X = 0
      let S = 0
      let B = 0
      let O = 0
      let R = 0
      let D = 0
      let C = 0
      let Z = 0
      let E = 0
      let K = 0
      let F = 0
      let W = 0
      let N = 0
      let G = 0
      let A = 0
      let L = 0
      let P = 0
      let I = 0

      // loop all inputs, get the data-score to determine to which score add points
      const inputs = document.getElementsByClassName('option');
      for (var i = 0; i < inputs.length; i++) {
        if ( inputs[i].checked && inputs[i].dataset.score == 'T' ) T = T + 1;
        if ( inputs[i].checked && inputs[i].dataset.score == 'V' ) V = V + 1;
        if ( inputs[i].checked && inputs[i].dataset.score == 'X' ) X = X + 1;
        if ( inputs[i].checked && inputs[i].dataset.score == 'S' ) S = S + 1;
        if ( inputs[i].checked && inputs[i].dataset.score == 'B' ) B = B + 1;
        if ( inputs[i].checked && inputs[i].dataset.score == 'O' ) O = O + 1;
        if ( inputs[i].checked && inputs[i].dataset.score == 'R' ) R = R + 1;
        if ( inputs[i].checked && inputs[i].dataset.score == 'D' ) D = D + 1;
        if ( inputs[i].checked && inputs[i].dataset.score == 'C' ) C = C + 1;
        if ( inputs[i].checked && inputs[i].dataset.score == 'Z' ) Z = Z + 1;
        if ( inputs[i].checked && inputs[i].dataset.score == 'E' ) E = E + 1;
        if ( inputs[i].checked && inputs[i].dataset.score == 'K' ) K = K + 1;
        if ( inputs[i].checked && inputs[i].dataset.score == 'F' ) F = F + 1;
        if ( inputs[i].checked && inputs[i].dataset.score == 'W' ) W = W + 1;
        if ( inputs[i].checked && inputs[i].dataset.score == 'N' ) N = N + 1;
        if ( inputs[i].checked && inputs[i].dataset.score == 'G' ) G = G + 1;
        if ( inputs[i].checked && inputs[i].dataset.score == 'A' ) A = A + 1;
        if ( inputs[i].checked && inputs[i].dataset.score == 'L' ) L = L + 1;
        if ( inputs[i].checked && inputs[i].dataset.score == 'P' ) P = P + 1;
        if ( inputs[i].checked && inputs[i].dataset.score == 'I' ) I = I + 1;
      }

      // Assign the total points for this page to the form inputs
      document.getElementById("id-T").value = T;
      document.getElementById("id-V").value = V;
      document.getElementById("id-X").value = X;
      document.getElementById("id-S").value = S;
      document.getElementById("id-B").value = B;
      document.getElementById("id-O").value = O;
      document.getElementById("id-R").value = R;
      document.getElementById("id-D").value = D;
      document.getElementById("id-C").value = C;
      document.getElementById("id-Z").value = Z;
      document.getElementById("id-E").value = E;
      document.getElementById("id-K").value = K;
      document.getElementById("id-F").value = F;
      document.getElementById("id-W").value = W;
      document.getElementById("id-N").value = N;
      document.getElementById("id-G").value = G;
      document.getElementById("id-A").value = A;
      document.getElementById("id-L").value = L;
      document.getElementById("id-P").value = P;
      document.getElementById("id-I").value = I;

    }

  </script>
{% endblock %}